@import "./constants.scss";

.container{
    display: flex;
    padding: 5rem 0;
    justify-content: space-evenly;
    background-image: url(https://demo.webtend.net/html/qichen/assets/images/shape/line-1.png);
    background-repeat: no-repeat;

    img{
        width: 50%;
        height: auto;
    }
    .section{
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        .about{
            display: flex;
            gap: 1rem;
            align-items: center;
            img{
                width: 4rem;
            }
            p{
                color: orangered;
            }
        }
    }
    h1{
        font-size: 3rem;
        font-weight: normal;
    }
    p{
        font-size: 1.3rem;
        color: rgb(134, 131, 131);
    }
    .arrow{
        display: flex;
        gap: 1rem;
        align-items: center;
        h4{
            font-size: 1.2rem;
            font-weight: normal;
        }
    }
    button{
        width: 15rem;
        height: 3rem;
        background-color: rgb(6, 5, 5);
        color: white;
    }
}