@import "./constants.scss";

.contai {
    width: 97%;
    height: 9vh;
    padding:0 1rem;
    background-color: rgba(223, 63, 0, 0.07);
}

.container {
    width: 93%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
    position: fixed;

    div {
        display: flex;

        img {
            background-color: rgb(241, 100, 49);
            width: 10rem;
            height: 3rem;
            padding: 0.3rem;
        }

        ul {
            display: flex;
            gap: 1.1rem;
            font-size: 1.1rem;
            align-items: center;
        }
    }

    div {
        display: flex;
        gap: 2rem;

        p {
            display: flex;
            align-items: center;
        }

        button {
            border: none;
            border-radius: 0.5rem;
            background-color: rgb(241, 100, 49);
            color: white;
            width: 15rem;
            height: 3rem;
            padding: 0.3rem;
            font-size: 1.2rem;
        }
    }

}